{% extends 'djapp/base.html' %} {% block title_block%}
<div class="card-header text-dark d-flex justify-content-between">
  <h2>Add Student</h2>
  <a href="{% url 'home' %}" class="btn btn-primary text-center"> Students </a>
</div>
{% endblock %} {% block content_block%}
<div class="card-body">
  <form method="POST">
    {% csrf_token %}
    <div class="mt-3">
      <div class="form-group">{{ st_form.as_p }}</div>
    </div>
    <div class="mb-3 mt-5 mx-auto text-center">
      <button type="submit" class="btn btn-success">save</button>
      <button type="reset" class="btn btn-danger">reset</button>
    </div>
  </form>
</div>
{% endblock %}
